<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/public/css/site.css">
</head>
<body class="main-body">
    {{{body}}}
</body>
<footer class="footer">
    <h2>Need Help? Contact 1-800-FILM-FORAY</h2>
    <h2>Copyright©2022 Anusha, Alex, Michael, Kwasi</h2>
</footer>
</html>
