<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8" />
  
	<meta name="viewport" content="width=device-width, initial-scale=1" />
  
	<link rel="stylesheet" href="/public/css/site.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/themes/base/jquery-ui.css">
	
	<script src="http://code.jquery.com/jquery-1.7.1.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
	
</head>

<body class="main-body">
  
	{{{body}}}
	
</body>

</html>