<!DOCTYPE html>
<html lang="en">

<head>
  <title>Film Foray - My Account</title>
</head>

<header>
  <a href="/private">
    <h1>FILM FORAY</h1>
  </a>
</header>
<main>
    <div class="signup-container">
        <label class="login-label">My Account</label>
        <br />
        <br />
        <label class="label">First Name</label>
        <div class="myacc-text">
            {{userDetails.firstName}}
        </div>
        <label class="label">Last Name</label>
        <div class="myacc-text">
            {{userDetails.lastName}}
        </div>
        <label class="label">Email</label>
        <div class="myacc-text">
            {{userDetails.email}}
        </div>
        <label class="label">Username</label>
        <div class="myacc-text">
            {{userDetails.username}}
        </div>

    </div>
    <form method="GET" action="/logout">
      <button class="open-page-button" style="padding: 10px; margin-top:10px;" type="submit">Logout</button>
    </form>
</main>

</html>