<head>
    <title>Add a Movie Page</title>
</head>
<header>
    <a href="/private">
        <h1>FILM FORAY</h1>
    </a>
</header>
<script type="text/javascript" src="/public/js/additionalField.js"></script>
<div class="addmovie-container">
    <h2>Add a Movie</h2>
    <p id="error" class="error">{{error}}</p>

    <form method="POST" id="add-movie-form" action="/addmovie">

				<label class="addmovie_label" for="movieTitle"><a class="redAst">*</a>Movie Title:
            <input type="text" id="movieTitle" name="movieTitle" />
        </label>

        <label class="addmovie_label" for="releaseYear"><a class="redAst">*</a>Year Released:
						<br />
            <input class="addmovie_num_input" type="number" id="releaseYear" name="releaseYear" />
        </label>

				<br /> <br />

        <ul id="genreList">
          <li>
						<label class="addmovie_label" for="genre"><a class="redAst">*</a>Genre:
						<br />
							<select class="addmovie_genre" id="genre" name="genre">
								<option value="Action">Action</option>
								<option value="Comedy">Comedy</option>
								<option value="Drama">Drama</option>
								<option value="Horror">Horror</option>
								<option value="Scifi">Sci/Fi</option>
								<option value="Romance">Romance</option>
							</select>
						</label>
					</li>
        </ul>
        <button class="open-page-button" type="button" onclick="addGenre()">Add genre</button>

				<br /> <br />

        <label class="addmovie_label" for="rating"><a class="redAst">*</a>IMDB Rating:
						<br />
            <input class="addmovie_num_input" type="number" id="rating" name="rating" />
        </label>

				<br /> <br />

        <label class="addmovie_label" for="description">Movie Description:
          <textarea class="description_textarea" id="description" name="description"></textarea>
        </label>

        <ul id="actorsList">
            <li><label class="addmovie_label" for="actors"><a class="redAst">*</a>Actors:
                    <input type="text" id="actors" name="actors" />
                </label></li>
        </ul>
        <button class="open-page-button" type="button" onclick="addActors()">Add actor</button>

				<br />

        <ul id="directorsList">
          <li>
						<label class="addmovie_label" for="directors">Directors:
							<input type="text" id="directors" name="directors" />
            </label>
					</li>
        </ul>
        <button class="open-page-button" type="button" onclick="addDirectors()">Add directors</button>

				<br />

        <ul id="whereToWatchList">
          <li>
						<label class="addmovie_label" for="whereToWatch">Where To Watch:
							<input type="text" id="whereToWatch" name="whereToWatch" />
            </label>
					</li>
        </ul>
        <button class="open-page-button" type="button" onclick="addWhereToWatch()">Add where to watch</button>
        <br /><br />

        <button class="open-page-button" type="submit">+ Add a Movie</button>
    </form>
</div>
<!--<form method="POST" id="seed-form" action="/addmovie/seed">
    <button class="open-page-button" type="submit">SEED</button>
</form>-->
