<link rel="stylesheet" href="/public/css/site.css" type="text/css">

<head>
    <title>Add a Movie Page</title>
</head>
<header>
    <a href="/private">
        <h1>FILM FORAY</h1>
    </a>
</header>
<h2>Add a Movie</h2>
<button class="open-page-button" type="submit" method="post">+ Add a Movie</button>