<link rel="stylesheet" href="/public/css/site.css" type="text/css">
<head>
  <title>Genre</title>
</head>
<header>
<a href="/private">
    <h1>FILM FORAY</h1>
</a>
</header>
<h2>Genre: *name of genre selected*</h2>
