<link rel="stylesheet" href="/public/css/site.css" type="text/css">
<head>
  <title>{{title}}</title>
</head>
<main>
  <header>
        <a href="/private">
            <h1>FILM FORAY</h1>
        </a>
  </header>
<h2 class = "genre_title">{{{givenGenre}}}</h2>

  <div class="container">
        <div class="hs__wrapper">
            <h4 class="h4">All Movies Based on {{{givenGenre}}}</h4>
            <div class="hs__header">
                <div class="hs__arrows">
                    <a class="arrow arrow-next"></a>
                    <a class="arrow disabled arrow-prev"></a>
                </div>
                <div class="hs__arrows right">
                    <a class="arrow arrow-next"></a>
                    <a class="arrow disabled arrow-prev"></a>
                </div>
            </div>
            <ul class="hs">
                {{#each allData}}
                {{{title}}}
                {{/each}}
            </ul>
        </div>
    </div>
</main>