<!DOCTYPE html>
<html lang="en">

<head>
	<title>Film Foray - Genre {{givenGenre}}</title>
</head>

<header>
  <a href="/private">
    <h1>FILM FORAY</h1>
  </a>
</header>

<main>
    <h2 class="genre_title">{{{givenGenre}}}</h2>

    <div class="container">

        <h4 class="h4">All Movies Based on {{{givenGenre}}}</h4>

        <ul class="hs">
            {{#each allData}}
            {{{title}}}
            {{/each}}
        </ul>
    </div>
</main>