<main>
    <header>
        <a href="/private">
            <h1>FILM FORAY</h1>
        </a>
    </header>

    <a href="/addmovie">
        <button class="open-button" type="submit">+ Add a Movie</button>
    </a>

    <div class="topnav">
        <div class="dropdown">
            <button class="dropbtn">{{userDetails.userName}}
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="#">My Account</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <form class="search-form" action="/searchpage" method="post">
            <input type="search" name="showSearchTerm" placeholder="search...">
            <button class="search-button" type="submit">Search</button>
        </form>

    </div>



    <div class="container">
        <div class="hs__wrapper">
            <h4 class="h4">All Movies</h4>
            <div class="hs__header">
                <div class="hs__arrows">
                    <a class="arrow arrow-next"></a>
                    <a class="arrow disabled arrow-prev"></a>
                </div>
                <div class="hs__arrows right">
                    <a class="arrow arrow-next"></a>
                    <a class="arrow disabled arrow-prev"></a>
                </div>
            </div>

            <ul class="hs">
                {{#each movies}}
                {{{title}}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="hs__wrapper">
            <h4 class="h4">Genre</h4>
            <div class="hs__header">
                <div class="hs__arrows"><a class="arrow disabled arrow-prev"></a></div>
                <ul class="hs">
                    <a href="/action">
                        <button class="genre-button" type="submit">Action</button>
                    </a>
                    <a href="/movie">
                        <button class="genre-button" type="submit">Comedy</button>
                    </a>
                    <a href="/movie">
                        <button class="genre-button" type="submit">Drama</button>
                    </a>
                    <a href="/movie">
                        <button class="genre-button" type="submit">Horror</button>
                    </a>
                    <a href="/movie">
                        <button class="genre-button" type="submit">Sci/Fi</button>
                    </a>
                    <a href="/movie">
                        <button class="genre-button" type="submit">Romance</button>
                    </a>
                </ul>
                <div class="hs__arrows"><a class="arrow arrow-next"></a></div>
            </div>
        </div>

        <div class="container">
            <div class="hs__wrapper">
                <h4 class="h4">Liked Movies</h4>
                <div class="hs__header">
                    <div class="hs__arrows"><a class="arrow disabled arrow-prev"></a></div>
                    <ul class="hs">
						{{#each likedMovies}}
							{{{title}}}
						{{/each}}
                    </ul>
                    <div class="hs__arrows"><a class="arrow arrow-next"></a></div>
                </div>
            </div>
            <ul class="hs">
                <a href="/action">
                    <button class="movie-thumbnail genre" type="submit">Action</button>
                </a>
                <a href="/movie">
                    <button class="movie-thumbnail genre" type="submit">Comedy</button>
                </a>
                <a href="/movie">
                    <button class="movie-thumbnail genre" type="submit">Drama</button>
                </a>
                <a href="/movie">
                    <button class="movie-thumbnail genre" type="submit">Horror</button>
                </a>
                <a href="/movie">
                    <button class="movie-thumbnail genre" type="submit">Sci/Fi</button>
                </a>
                <a href="/movie">
                    <button class="movie-thumbnail genre" type="submit">Romance</button>
                </a>
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="hs__wrapper">
            <h4 class="h4">Liked Movies</h4>
            <div class="hs__header">
                <div class="hs__arrows"><a class="arrow disabled arrow-prev"></a><a class="arrow arrow-next"></a></div>
                <div class="hs__arrows right"><a class="arrow disabled arrow-prev"></a><a class="arrow arrow-next"></a>
                </div>
            </div>
            <ul class="hs">
                <a href="/movie">
                    <button class="movie-thumbnail liked-movies" type="submit">Liked 1</button>
                </a>
                <a href="/movie">
                    <button class="movie-thumbnail liked-movies" type="submit">Liked 2</button>
                </a>
            </ul>
        </div>
    </div>
</main>


<script type="text/javascript">
    var instance = $(".hs__wrapper");
    $.each(instance, function (key, value) {

        var arrows = $(instance[key]).find(".arrow"),
            prevArrow = arrows.filter('.arrow-prev'),
            nextArrow = arrows.filter('.arrow-next'),
            box = $(instance[key]).find(".hs"),
            x = 0,
            mx = 0,
            maxScrollWidth = box[0].scrollWidth - (box[0].clientWidth / 2) - (box.width() / 2);

        $(arrows).on('click', function () {

            if ($(this).hasClass("arrow-next")) {
                x = ((box.width() / 2)) + box.scrollLeft() - 10;
                box.animate({
                    scrollLeft: x,
                })
            } else {
                x = ((box.width() / 2)) - box.scrollLeft() - 10;
                box.animate({
                    scrollLeft: -x,
                })
            }

        });

        $(box).on({
            mousemove: function (e) {
                var mx2 = e.pageX - this.offsetLeft;
                if (mx) this.scrollLeft = this.sx + mx - mx2;
            },
            mousedown: function (e) {
                this.sx = this.scrollLeft;
                mx = e.pageX - this.offsetLeft;
            },
            scroll: function () {
                toggleArrows();
            }
        });

        $(document).on("mouseup", function () {
            mx = 0;
        });

        function toggleArrows() {
            if (box.scrollLeft() > maxScrollWidth - 10) {
                // disable next button when right end has reached 
                nextArrow.addClass('disabled');
            } else if (box.scrollLeft() < 10) {
                // disable prev button when left end has reached 
                prevArrow.addClass('disabled')
            } else {
                // both are enabled
                nextArrow.removeClass('disabled');
                prevArrow.removeClass('disabled');
            }
        }

    });
</script>