<link rel="stylesheet" href="/public/css/site.css" type="text/css">
<head>
    <form action="/">
    <button action="/" type="submit" class="back-home">Back Home</button>
  </form>
  <title>Search</title>
</head>
<header>
<a href="/private">
    <h1>FILM FORAY</h1>
</a>
</header>
<h2 class="h2search" >{{showSearchTerm}}</h2>
<section class="search-section">  
  <ul style="list-style: none;">
    {{#each result}}
    <li><a class="search-list" href="/show/{{show.id}}" target="_blank">{{show.name}}</a></li>
    {{/each}}
  </ul>
</section>